<h1>Add a new document:</h1>

<form action='/new' method='post' id='new_form'>
  <label for='new_filename'>New document name:</label>
  <input type='text' name='new_filename'>
  <input type='submit' value='Create'>
</form>
